h1 {
  color: #00b4cc;
  text-decoration: underline;
}

.results-container {
  display: flex;
  padding: 24px;
  list-style: none;
  flex-wrap: wrap;
}

.weather-listItem {
  border: 2px solid #00b4cc;
  border-radius: 4px;
  flex: 1;
  max-width: 250px;
  min-width: 250px;
  padding: 24px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    -2px 1px 15px -18px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, -2px 1px 15px -18px rgba(0, 0, 0, 0);
  text-align: left;
}

.weather-listItem div, .weather-listItem h3 {
  width: 100%;
  text-align: left;
  margin: 8px 0;
}

.error {
  color: red;
}

.error::before {
  content: ">";
}

.searchbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.searchbar {
  width: 50%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchbar:focus {
  color:black;
}

.searchbutton {
  width: 56px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s ease-in all;
}

.searchbutton:hover
{
  background-color: black;
  color: white;
}
